@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif;
 
}

h2, h3, p {
  color: #fff;
}

/*Header */

header {
  background-color: #1e1e1e;
  padding: 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #45d52c;
}

h1 {
  font-weight: 700; 
}

p {
  font-weight: 400;
  font-size: 1rem;
}

h2 {  
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h1, h2, h3 {
  color: #45d52c;
}

.btn-primary {
  background-color: #45d52c;
  border: none;
  color: #1e1e1e;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;  
  cursor: pointer;
}

.btn-outline-secondary {
  background-color: #1e1e1e;
  border: 1px solid #45d52c;
  color: #45d52c;
  padding: 10px 20px;
  border-radius: 5px;    
  cursor: pointer;
  font-size: 1rem;
}
 
a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #5c636a;
}

/*Logo */

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  width: 150px;
  margin-left: 20px;
}

/* Nav */

.nav-link {
  color: #fff;
}

.active {
  color: #45d52c;
}

.navbar-toggler-icon {
  color:white;
}

.containerIconosRedes{
  display:flex;
  align-items: center;  
  margin-left: auto;
  padding-right: 1rem;
}

.iconosRedes {  
  margin-right: 10px;
  color: #45d52c;
}
 


/* Body */
body {  
  font-size: 1rem;
  background-color: #161616;
  line-height: 1.5;
}

/* Elementos Página Productos */

.card {
  background-color: #1e1e1e; 
}

.titulares {  
  color: #45d52c;
  padding: 10px 0;
  font-size: 2rem;
}

.parrafos {
  color: #fff;   
  padding: 10px 0;
}

.banner {
  background-color: #1e1e1e; 
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px; 
}

/* Noticias */

.linksNoticias {
  color: #45d52c;
}

.banner2 {   
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/img/galeria_5.png);
  background-size: cover;
  background-repeat: no-repeat;  

}
  
.banner3 {   
  background: linear-gradient(rgba(0, 0, 0, 0.979), rgba(0,0,0,0.5)), url(../assets/img/razerblade.jpg);
  background-size: cover;
  background-repeat: no-repeat;  

}

.banner4 {   
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/img/rapunzel_1.png);
  background-size: cover;
  background-repeat: no-repeat;  

}

/* Footer */

footer {
  background-color: #1e1e1e;
  padding: 45px;   
  width: 100%;  
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  margin: 20px;
}

.footer-container {
  border-bottom: #45d52c 1px solid;
  padding-bottom: 30px;

}


/* Página Tienda-Rapunzel*/
.hero {  
  min-height: 100vh;
  background-size: cover;
  background-position: center;  
}

.hero-overlay {  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.hero-content {
    color: #fff; 
}

#portadaRapunzel {
  background: url(../assets/img/rapunzel_1.png);
  background-size: cover;
}

#cierreRapunzel {
  background: url(../assets/img/rapunzel_2.png);
  background-size: cover;
}


@media (max-width: 992px) {
  .hero-content {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

#cierreRapunzel, #portadaRapunzel { 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

@media (max-width: 576px) {
  .hero-content {
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
  }
}


@media (max-width: 768px) {
  .btn {
    display:block;
    width: 100%;
  }
}

.embed-responsive {
  width: 100%; 
}

#caracteristicasRapunzel {  
  padding: 30px;
}

#caracteristicasRapunzel h3 {
  color: #45d52c;
}

#caracteristicasRapunzel img {
  width: 50%;
  margin-top: 10px;

}