@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif;
 
}

h2, h3, p {
  color: #fff;
}

/*Header */



header {
  background-color: #212529;
  padding: 10px;    
  border-bottom: 1px solid #45d52c;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
 
}


h1 {
  font-weight: 700; 
}

p {
  font-weight: 400;
  font-size: 1rem;
}

h2 {  
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h1, h2, h3 {
  color: #45d52c;
}

.btn-primary {
  background-color: #45d52c;
  border: none;
  color: #1e1e1e;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;  
  cursor: pointer;
}

.btn-outline-secondary {
  background-color: #212529;
  border: 1px solid #45d52c;
  color: #45d52c;
  padding: 10px 20px;
  border-radius: 5px;    
  cursor: pointer;
  font-size: 1rem;
}
 
a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #5c636a;
}

/*Logo */

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  width: 150px;
  margin-left: 20px;
}

/* Nav */


.navbar_toggler_icon {
    color: #45d52c;    
  }

.nav-link {
  color: #fff;
}

.activo {
  color: #45d52c;
}

.containerIconosRedes{
  display:flex;
  align-items: center;  
  margin-left: auto;
  padding-right: 1rem;
}

.iconosRedes {  
  margin-right: 10px;
  color: #45d52c;
}
 


/* Body */
body {  
  font-size: 1rem;
  background-color: #161616;
  line-height: 1.5;
}

/* Elementos Página Productos */

.card {
  background-color: #212529; 
}

.titulares {    
  padding: 10px 0;
  font-size: 2rem;
  font-weight: 700;
}

.parrafos { 
  padding: 10px 0;
}

.banner {
  background-color: #212529;   
  border-radius: 20px; 
  padding: 20px;
}

/* Noticias */

.linksNoticias {
  color: #45d52c;
  text-decoration: underline;
}

.linksNoticias:hover {
  color: #5c636a;
}
  

.banner2 {   
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/img/galeria_5.png);
  background-size: cover;
  background-repeat: no-repeat;  

}
  
.banner3 {   
  background: linear-gradient(rgba(0, 0, 0, 0.979), rgba(0,0,0,0.5)), url(../assets/img/razerblade.jpg);
  background-size: cover;
  background-repeat: no-repeat;  

}

.banner4 {   
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/img/rapunzel_1.png);
  background-size: cover;
  background-repeat: no-repeat;  

}

/* Footer */

footer {
  background-color: #212529;
  padding: 45px;   
  width: 100%;  
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  margin: 20px;
}

.footer-container {
  border-bottom: #45d52c 1px solid;
  padding-bottom: 30px;

}


/* Página Tienda-Rapunzel*/
.hero {  
  min-height: 100vh;
} 

.hero-overlay {  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.hero-content {
    color: #fff; 
}

#portadaRapunzel {
  background: url(../assets/img/rapunzel_1.png);
  background-size: cover;
  background-position: center center;
}

#cierreRapunzel {
  background: url(../assets/img/rapunzel_2.png);
  background-size: cover;
  background-position: center center;
}

.containerVideo {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;    
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Página Productos */

#portadaLanzamientos {
  background: url(../assets/img/productos_1.png);
  background-size: cover;
  background-position: center center;
}


#portadaPerifericos {
  background: url(../assets/img/productos_2.jpg);
  background-size: cover;
  background-position: center center;
}

#portadaFinal {
  background: url(../assets/img/productos_3.png);
  background-size: cover;
  background-position: center center;
}


/*Página Tostadora */

#portadaTostadora {
  background: url(../assets/img/portada_tostadora.png);
  background-size: cover;
  background-position: center center;
}

/*Página Nosotros */
#portadaNosotros {
  background: url(../assets/img/portada_nosotros.png);
  background-size: cover;
  background-position: center center;
}

#portadaInfo {
  background: url(../assets/img/nosotros_1.png);
  background-size: cover;
  background-position: center center;
}

#portadaFaker {
  background: url(../assets/img/nosotros_2.png);
  background-size: cover;
  background-position: center center;
}

#portadaContacto {
  background: url(../assets/img/portada_contacto.png);
  background-size: cover;
  background-position: center center;
}

/*Página Contacto */

.container-formulario {
  background-image: url('../assets/img/productos_3.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  height: 100vh;
}

form {
  background-color: #212529;
  padding: 30px;
  border-radius: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #fff;  
}

input [type="text"], input [type="email"], input [type="tel"], input [type="date"], input [type="number"], input [type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

input [type="submit"] {
  background-color: #45d52c;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input [type="submit"]:hover {
  background-color: #45d52c;
  color: #fff;
}

/* Media Queries */

@media (max-width: 992px) {
  .hero-content {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

#cierreRapunzel, #portadaRapunzel { 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

@media (max-width: 576px) {
  .hero-content {
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
  }
}


@media (max-width: 768px) {
  .btn {
    display:block;
    width: 100%;
  }
}


#caracteristicasRapunzel {  
  padding: 30px;
}

#caracteristicasRapunzel h3 {
  color: #45d52c;
}

#caracteristicasRapunzel img {
  width: 50%;
  margin-top: 10px;

}